<form class="form-control" [formGroup]="form" (ngSubmit)="signIn()">
  <h1>Sign in</h1>
  <div class="form-field">
    <label for="email">Email</label>
    <input
      id="email" type="text" name="email" formControlName="email">

    <div
      *ngIf="form.get('email').invalid && form.get('email').touched"
      class="validation">

      <small *ngIf="form.get('email').errors.required">
        Поле Email не может быть пустым
      </small>

      <small *ngIf="form.get('email').errors.pattern">
        Введите корректный Email
      </small>
    </div>

  </div>

  <div class="form-field">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" formControlName="password">

    <div
      *ngIf="form.get('password').invalid && form.get('password').touched"
      class="validation">

      <small *ngIf="form.get('password').errors.required">
        Пароль не может быть пустым
      </small>

      <small *ngIf="form.get('password').errors.pattern">
        Введите корректный пароль
      </small>

    </div>
  </div>
  <div>
    <button
      type="submit"
      [disabled]="form.invalid"
      class="btn btn-login"
    >
      Sign in
    </button>
    <button
      class="btn-create"
      type="button"
      [routerLink]="['/create-account']"
    >
      Create new account
    </button>
  </div>

  <div *ngIf="!entry">
    <div class="validation">Нет такого пользователя.
      <a [routerLink]="['/create-account']">Нет аккаунта? Зарегистрируйтесь.</a>
    </div>
  </div>
</form>

<app-modal *ngIf="showModal" [(opened)]="showModal">
  <h3>
    Your current session has expired. Please login
    again to continue using this app!
  </h3>
</app-modal>
