<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Heroes list">
    <ng-container *ngTemplateOutlet="content_1">
    </ng-container>
  </mat-tab>

  <mat-tab label="Battle history">
    <ng-container *ngTemplateOutlet="content_2"></ng-container>
  </mat-tab>
  <mat-tab label="Power ups">
    <ng-container *ngTemplateOutlet="content_3"></ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #content_1>
  <div class="container">
    <div class="wrapper">
      <ngb-carousel *ngIf="selectedHeroes">
        <ng-template ngbSlide *ngFor="let hero of selectedHeroes">
          <app-heroes-item (newArray)="changeArray($event)" [hero]="hero"></app-heroes-item>
        </ng-template>
      </ngb-carousel>
      <button class="add-new-user" [routerLink]="['/heroes-page']">+</button>
    </div>
  </div>
</ng-template>

<ng-template #content_2>
  <div class="container">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="heroName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hero name</th>
        <td mat-cell *matCellDef="let element" class="pointer"
            [routerLink]="['/hero-page', element.heroId]"> {{element.heroName}} </td>
      </ng-container>

      <ng-container matColumnDef="opponentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opponent name</th>
        <td mat-cell *matCellDef="let element" class="pointer"
            [routerLink]="['/hero-page', element.opponentId]"> {{element.opponentName}} </td>
      </ng-container>

      <ng-container matColumnDef="battleTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Battle date and time</th>
        <td mat-cell *matCellDef="let element"> {{element.battleTime | date: 'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="battleResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Battle result</th>
        <td mat-cell *matCellDef="let element"> {{element.battleResult}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-template>

<ng-template #content_3>
  <div class="container">
    <mat-card class="d-flex align-content-center">
      <app-card-item *ngFor="let power of powerUps"
                     [powerUps]="powerUps"
                     [power]="power"
      ></app-card-item>
    </mat-card>
  </div>
</ng-template>
