
.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto Regular", sans-serif;
  margin-top: 2rem;
  & .group {
    display: flex;
    justify-content: center;
    width: 100%;

    & .input-field {
      width: 45%;
      padding: .7rem 2.3rem .7rem .7rem;
      margin-left: 1rem;
      border-radius: 3px;
      outline-color: deepskyblue;
      background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png") no-repeat top right;
      background-size: contain;
    }
  }
  & .validation {
    color: red;
  }
}
.recent-searches {
  width: 600px;
  margin: 1.5rem auto;
  display: flex;

  & .recent-item {
    cursor: pointer;
  }
}

