<form class="form-control" [formGroup]="searchForm" (ngSubmit)="submit($event)">

  <input class="input-field" type="text" name="name" formControlName="inputField">
  <div class="validation" *ngIf="!searchForm.invalid">
    <small>
      Допустимы только буквы
    </small>
  </div>

</form>

<div class="recent-searches">
  <div class="recent-item" *ngFor="let item of recentSearches" (click)="resentQuery()">
    {{ item }},
  </div>
</div>

<app-heroes-list [responseArray]="responseArray"></app-heroes-list>
